@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Object> menuitems = new List<Object>();

    // menuitems.Add(new
    // {
    //     text = "General",
    //     seperator = true,
    // });

    menuitems.Add(new
    {
        text = "DashBoard",
        url = "/",
        iconCss = "fa-solid fa-box",
    });

    menuitems.Add(new
    {
        text = "Categories",
        url = "/Category",
        iconCss = "fa-solid fa-folder-closed",
    });

    menuitems.Add(new
    {
        text = "Transactions",
        url = "/Transaction",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
    });
}

<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px" target=".dock-target" enableGestures="false">
    <e-content-template >

        <div class="logo-wrapper">
            <div class="app-logo">
                <img src="~/favicon-32x32.png" />
            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>

        <div class="profile-wrapper">
            <img class="profile-pic" src="~/file.png" />
            <div class="titles d-flex flex-column ps-3">
                <h6 class="mb-0">Your Wallet</h6>
                <span class="text-muted">Ankit</span>
            </div>
        </div>

        <ejs-menu id="menu" items="menuitems"
                  orientation="Vertical" hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        }
    })
</script>